form{
    margin-top: 20px;
    padding: 5rem;
    width: 10rem;
    
    display: flex;
    flex-direction: column;
}

.details{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

}

button{
    margin-top: 20px;
}