form{
    margin-top: 20px;
    padding: 5rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
}

.details{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

}

button{
    margin-top: 20px;
    width: 5rem;
    color: rgb(211, 155, 86);
    background-color: white;
    border: none;
    
}

input{
    border: 1px solid rgb(87, 136, 165);
    height: 1.3rem;
    border-radius: 4px;
}